.root {
    -fx-background-image: url("/graphics/menu/menuBoard.png");
}

#title {
    -fx-text-fill: linear-gradient(#835249, #301e1b);
    -fx-font-family: "Forte";
}

#nickField {
    -fx-background-color:
            linear-gradient(#835249 0%, #50332e 20%, #301e1b 100%),
            radial-gradient(center 50% 0%, radius 100%, #ad8988, #926c6a);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Forte";
    -fx-text-fill: linear-gradient(white, #a9d3e2);
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
}

.button {
    -fx-background-color:
            linear-gradient(#835249 0%, #50332e 20%, #301e1b 100%),
            radial-gradient(center 50% 0%, radius 100%, #835249, #50332e);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Forte";
    -fx-text-fill: linear-gradient(white, #a9d3e2);
    -fx-font-size: 25px;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-effect: innershadow(gaussian, #3e6864, 15, 0, 0, 0);
}

.button:pressed {
    -fx-background-color: #497A83;
}